@import "tailwindcss";
@plugin "daisyui";

.menu li a.active {
  font-weight: bold;
  position: relative; /* pseudo-element er jonno */
}

.menu li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #f59e0b, #f43f5e);
  border-radius: 2px;
}

.menu li a:hover {
  color: white;
  background-color: black;
}

.btn-default:hover {
  color: white;
  background-color: black;
}


/* -----btn gradradient------ */
@layer components {
  .btn-default {
    @apply px-6 py-3 rounded-xl text-white font-semibold bg-gradient-to-r from-amber-400 to-rose-400 transition-all duration-300 cursor-pointer;
  }

  .btn-default:hover {
    @apply scale-105;
  }
}

/* -----swiper---- */
.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;                
  background-color: rgba(0, 0, 0, 0.00);
  width: 30px;                         
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease;
  --swiper-navigation-size: 20px !important; 
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #000;
  color: #fff !important;
  transform: scale(1.1);
}


.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px !important; 
  font-weight: bold;
}


